<div class="main">
    <div class="about-section">
        <div class="header-container">
            <h1 class="text header">About</h1>
        </div>
        <div class="description-container">
            <div class="text-section">
                <p class="descriptor">What is the YouTube API app?</p>
            </div>
            <div class="text-section">
                <ul>
                    <li class="text-item"><p class="text desc">The YouTube API app is exactly as the name entails...It grabs YouTube data from Google's database and provides a watching experience that is similar to the real YouTube.</p></li>
                </ul>
            </div>
            <div class="text-section"> 
                <p class="descriptor">Optimizing your watching experience</p>
            </div>
            <div class="text-section">
                <ul>
                    <li class="text-item"><p class="text desc">The YouTube API has a quota of 10,0000 units however searches cost 100 units per request.</p></li>
                    <li class="text-item"><p class="text desc ">To optimize the watching experience, the user can turn on "conserve API" to turn off searches and only fetch videos that have been favorited or previously watched.</p></li>
                    <li class="text-item"><p class="text desc">Retrieving these videos will greatly reduce the quota cost as these videos are stored separately in the RealTime Database provided by Firebase.</p></li>
                    <li><p class="text"><p class="text desc">Using these features require creating an account via email with this application.</p></li>
                </ul>
            </div>
        </div>
        <div class="logo-container">
            <div class="img-wrapper">
                <img class="image" src="../../assets/YouTube-logo.png" alt="YouTube Logo">
            </div>
        </div>
    </div>
    <div class="built-with">
        
        <div class="card">
            <div class="card-title">
                <h1 class="text header">Angular 13</h1>
            </div>
            <div class="card-img">
                <div class="card-img-wrapper">
                    <img src="../../assets/Angular-logo.png" alt="Angular 13" class="image">
                </div>
            </div>
            <div class="card-description">
                <p class="text">Angular is a powerful web framework that comes with features out of the box. With features like routing, directives, and data binding, there is no doubt as to why Angular is one of the best frameworks out there.</p>
            </div>
        </div>

        <div class="card">
            <div class="card-title">
                <h1 class="text header">TypeScript</h1>
            </div>
            <div class="card-img">
                <div class="card-img-wrapper">
                    <img src="../../assets/TypeScript-logo.png" alt="Angular 13" class="image">
                </div>
            </div>
            <div class="card-description">
                <p class="text">TypeScript is a superset of JavaScript that allows for types to be declared and enforced. Similar to languages like Java or C++, TypeScript is compiled into JavaScript.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-title">
                <h1 class="text header">RxJs</h1>
            </div>
            <div class="card-img">
                <div class="card-img-wrapper">
                    <img src="../../assets/RxJS-logo.png" alt="RxJS" class="image">
                </div>
            </div>
            <div class="card-description">
                <p class="text">RxJS is a powerful library that offers data streaming do different components and classes through observable sequences. RxJS makes it easier to write asynchronous and callback based code.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-title">
                <h1 class="text header">Google Firebase</h1>
            </div>
            <div class="card-img">
                <div class="card-img-wrapper">
                    <img src="../../assets/Firebase-logo.png" alt="Google Firebase" class="image">
                </div>
            </div>
            <div class="card-description">
                <p class="text">Google Firebase offers virtually every serverless solution for a web application. Utilizing this service allows for developers to not have to write a single line of server sided code. For this project, services like authentication and realtime database were used.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-title">
                <h1 class="text header">HTML 5</h1>
            </div>
            <div class="card-img">
                <div class="card-img-wrapper">
                    <img src="../../assets/HTML5-logo.png" alt="HTML 5" class="image">
                </div>
            </div>
            <div class="card-description">
                <p class="text">HTML 5 is the latest rendition of the Hypertext Markup Language. HTML is necessary for defining page structure and layout using tag based syntax.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-title">
                <h1 class="text header">CSS 3</h1>
            </div>
            <div class="card-img">
                <div class="card-img-wrapper">
                    <img src="../../assets/CSS3-logo.png" alt="HTML 5" class="image">
                </div>
            </div>
            <div class="card-description">
                <p class="text">CSS 3 is the latest rendition of the Cascading Style Sheet markup language. It serves its purpose by defining layout and behavior as well as styling HTML elements on web pages.</p>
            </div>
        </div>
    </div>
</div>
